<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <title><%=title%></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <button onclick="location.reload()" style="opacity:0;z-index: 99; position: fixed; top:0 ; width: 30%; height: 100vh;"></button>
    <%- include("../partials/nav.ejs");%>
    <main>
        <%- body %>
    </main>
    <script src="<%=script%>"></script>
</body>
</html>